body{
    border: 3px solid black;
    background-color: #16181b;
}
.main_wraper{
    width: 1600px;
    margin: 0 auto;
}
.logo{
    width: 404px;
    height: 86px;
    background-color: #a4d35a;
    float: left;
}
.logo img{
    padding: 30px 75px 30px 239px;
}
.navigation{
    overflow: hidden;
    width: 1196px;
    height: 86px;
    background-color: #272828;
}
.navigation ul {
    margin: 0px 0px 0px 240px;
}
.navigation ul li{
    margin: 33px 30px 37px 30px;
    list-style: none;
    display: inline-block;
}
.navigation ul li a{
    text-decoration: none;
    height: 13px;
    color: #ffffff;
    font-family: 'Sintony', sans-serif; 
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;

}

/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
LiberationSans

font-family: Tahoma, Verdana, Segoe, sans-serif;
*/


.mast_head_1 {
    height: 763px;
    width: 1600px;
    background-image: url(../img/background_mast_head_1.jpg)
}

.mast_head_ul{
    padding-top: 694px;
    padding-left: 273px;
}

.mast_head_ul ul {
    margin: 0px;
}

.mast_head_ul ul li {
    list-style: none;
    display: inline-block;
    margin: 0px;
    padding: 0px 7px;
}

.mast_head_2 {
    width: 1600px;
    height: 590px;
    background-color: #16181b;
}

.mast_head_2 > img{
    padding-top: 82px;
    padding-left: 270px;
}

.content_wraper{
    clear: both;
    padding-left: 270px;
    padding-top: 81px;
}

.content {
    margin-right: 29px;
    float: left;
    width: 333px;
}

.content h1 {
    color: #ffffff;
    font-family: 'Sintony', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
}

.content p {
    color: #abbcc3;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
}

.right_side_bar {
    float: right;
}

.right_side_bar ul {
    padding-right: 278px;
}

.right_side_bar ul li {
    list-style: none;
}

.mast_head_3 {
    width: 1600px;
    height: 1153px;
    background-color: #16181b;
    background-image: url(../img/background_mast_head_3.png)
}

.top_left{
    padding: 144px 273px 0px 273px;
}

.top_left h5 {
    height: 10px;
    opacity: 0.5;
    color: #ffffff;
    font-family: 'Sintony', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.top_left h3{
    height: 18px;
    color: #ffffff;
    font-family: Sintony;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.middle_image{
    width: 1063px;
    margin: 0 auto;
}

.middle_image > img:nth-child(2){
    height: 705px;   
}

.menu_wraper{
    margin: 0PX auto;
    width: 1200px;
}

.menu {
    margin: 0px 10px;
    float: left;
    border-top: 3px solid #ffffff;
    width: 280px;
    padding: 11px 0px;
}
.menu a{
    text-decoration: none;
    height: 19px;
    color: #ffffff;
    font-family: Sintony;
    font-size: 26px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
}

#selected {
    margin: 0px 10px;
    left: 809px;
    bottom: 197px;
    border-top: 3px solid #afd869;
    width: 280px;
    padding: 11px 0px;
}
#selected a{
    text-decoration: none;
    height: 19px;
    color: #afd869;
    font-family: Sintony;
    font-size: 26px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    
}

.ipad {
    width: 1600px;
    height: 628px;
    background-color: #a6d45b;
    overflow: hidden;
}

#content_ipad {
    float: left;
    margin: 121px 0px 0px 267px;
    width: 490px;
}

#content_ipad h2 {
    height: 58px;
    color: #ffffff;
    font-family: 'Sintony', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;

}

#content_ipad p {
    height: 134px;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

}

#content_ipad > a{
    background-color: #ffffff;
    text-decoration: none;
    color: #a6d45b;
    font-family: 'Sintony', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 49px;
    text-transform: uppercase;
    padding: 14px 60px;
    border-radius: 4px;
}

.ipad img {
    float: right;
    margin: 94px 229px 0px 0px;
}

.footer {
    position: relative;
    width: 1600px;
    height: 657px;
    background-color: #ffffff;
}

.footer ul {
    margin: 0px;
    padding: 0px;
}

.footer ul li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer h4{
    color: #737c85;
    font-family: 'Sintony', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
}

.footer a {
    color: #737c85;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    text-decoration: none;
}

.footer_column_1 {
    margin: 10px 30px 10px 210px;
    width: 250px;
    height: 380px;
    float: left;
}

.footer_column_2-4 {
    margin: 10px 30px;
    width: 250px;
    height: 380px;
    float: left;
}

.copyrights {
    clear: left;
    text-align: center;
    padding-top: 90px;
}

.copyrights p {
    opacity: 0.5;
    color: #737c85;
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
}